* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  width: 100%;
  top: 0;
  position: absolute;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  
}

.back {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 1rem;
}

.back:hover {
  border-color: #9f5c79;
}

.minusHeart {
  background-color: transparent;
  border: transparent;
  color: #3494aa;
  cursor: pointer;
}
.minusHeart:hover {
  color: #65cde4;
}

.plusHeart {
  color: #c24040;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

  .plusHeart:hover {
    color: #fd6a6a;
  }

.nav {
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
  color: #a9d7e1;
  text-decoration: inherit;
 }

.nav:hover{
 color: #82c3d1;
  }

.nav.active {
text-decoration: underline;
}

.cards {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem;
}

h1 {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.1em;
  place-items: center;
  grid-template-areas: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(305deg, rgb(118, 162, 222),rgb(126, 188, 123), rgb(156, 198, 217), rgb(107, 178, 178), rgb(118, 186, 186));
  margin: 0;
  padding-bottom: 2rem;
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

html {
  background: rgb(186,204,214);
  background: linear-gradient(90deg, rgba(186,204,214,1) 0%, rgba(173,204,185,1) 100%); 
}

header {
  background-color: rgb(241, 250, 215);
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(155, 185, 175, 0.555), rgba(71, 83, 80, 0.643)),url(https://source.unsplash.com/1200x1200/?forest);
  background-size: cover;
  padding: 2rem;
  margin-bottom: 5px;
}

.error {
  background-color: #888;
}

.card {
  background-color: rgb(230, 225, 216);
  border-radius: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow: hidden;
}

.text {
  margin: 2rem;
  text-align: start;
}

.animalPic {
  width: 210px;
  border-radius: 10px;
  padding-top: 1.5rem;
}

footer {
  padding: 1rem;
}

header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#About {
  background-color: rgb(230, 225, 216);
  border-radius: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-left: 25vw;
  width: 50%;
  padding: 2rem;
  margin-top: 2rem;
}

input {
  width: 28rem;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
  border-style: none;
  font-size: 1rem;
}

.imgContainer {
  position: relative;
}

.imgContainer .delete {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #55555589;
  color: white;
  font-size: 12px;
  padding: 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imgContainer .delete :hover {
  color: #de7f7f;
  
}

.lowrow{
  display: flex;
  justify-content:space-around;
  align-items:first baseline;
  font-size: 22px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.counter {
  position:relative; 
  bottom:4px; 
}

.read-the-docs {
  color: #888;
}

.homeContainer {
display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100vw;
}

.homeImg {
  object-fit: cover;
  height: 50vh;
  width: 50vw;
}

.homelink1 {
  position: absolute;
  bottom:50%;
  right: 50%;
  background-color: #55555589;
  color: white;
  font-size: 35px;
  padding: 1rem;
  width: 15rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.homelink2 {
  position: absolute;
  bottom:50%;
  left: 50%;
  width: 15rem;
  background-color: #55555589;
  color: white;
  font-size: 35px;
  padding: 1rem;
  border: none;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.homelink3 {
  position: absolute;
  top:50%;
  right: 50%;
  width: 15rem;
  background-color: #55555589;
  color: white;
  font-size: 35px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.homelink4 {
  position: absolute;
  top:50%;
  left: 50%;
  background-color: #55555589;
  color: white;
  font-size: 35px;
  width: 15rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.singlePage {
  background-color: rgb(230, 225, 216);
  border-radius: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-left: 25vw;
  width: 50%;
  padding: 2rem;
  margin-top: 2rem;
  height: fit-content;
}

.singlePage img {
border-radius: 10px;
width: 90%;
}

a {
  font-weight: 500;
  color: #142a2d;
  text-decoration: inherit;
}
a:hover {
  color: #95bca7;
}

a:active {
  text-decoration: underline;
}
